body, html {
    height: 100%;
    }
    .bg {
    background-image: url("./concrete-tunnel-3043424.jpg");
    height: 120vh;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }